@media only screen and (max-width:350px)
{
    i {
        font-size: 2rem;
        color: blue;
        background-color: #fff;
      }
      form{
        height: 55vh;
        width: 80vw;
      }
      form input {
        width: 80%;
        font-size: 0.7rem;
      }
      .btn1 {
        width: 80%;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
      }
      span {
        color: blue;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 0.7rem;
      }
      .line {
        width: 80%;
        margin-top: 0.5rem;
      }
      .btn2 {
        width: 80%;
        padding: 0.5rem 2rem;
        font-size: 0.7rem;
      }
}
@media only screen and (min-width:301px) and (max-width:765px)
{
    i {
        font-size: 3rem;
        color: blue;
        background-color: #fff;
      }
      form{
        height: 55vh;
        width: 80vw;
      }
      form input {
        width: 80%;
        font-size: 0.7rem;
      }
      .btn1 {
        width: 80%;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
      }
      span {
        color: blue;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 0.7rem;
      }
      .line {
        width: 80%;
        margin-top: 0.5rem;
      }
      .btn2 {
        width: 80%;
        padding: 0.5rem 2rem;
        font-size: 0.7rem;
      }
}